<h1> <%= @playlist.name %> </h1>

<table>
  <thead>
    <th> Song </th>
    <th> Artist </th>
    <th> Submitter </th>
    <th> Location </th>
  </thead>
  <%- @playlist.playlist_items.each do |item| %>
    <tr>
      <td><%= item.song_name %></td>
      <td><%= item.artist %></td>
      <td><%= item.submitted_by %></td>
      <td><%= item.submitter_location %></td>
    </tr>
  <% end %>
</table>